[SddmGreeterTheme]
Name=furina
Description=furina
Author=keyitdev
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Screenshot=Previews/preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=furina
Theme-API=2.0
QtVersion=6
